<meta charset="utf-8"/>
<title>BikenCMS</title>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&subset=latin-ext,vietnamese" rel="stylesheet">-->
{% stylesheets
    'assets/bootstrap/dist/css/bootstrap.min.css'
    'assets/font-awesome/css/font-awesome.min.css'
    'assets/Ionicons/css/ionicons.min.css'

    <link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
