<!DOCTYPE html>
<html lang="en" class="">
<head>
    {% include 'ORNAdminBundle::block-head.html.twig' %}
</head>
<body>
<div class="app app-header-fixed">
    {% block fos_user_content %}{% endblock %}
</div>

{% include 'ORNAdminBundle::block-footer.html.twig' %}

</body>
</html>