/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
    height: 100%;
}
.layout-boxed html,
.layout-boxed body {
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Layout */
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.wrapper:after {
    clear: both;
}
.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
.layout-boxed {
    background: url('../img/boxed-bg.jpg') repeat fixed;
}
/*
 * Content Wrapper - contains the main content
 */
.content-wrapper,
.main-footer {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}
.layout-top-nav .content-wrapper,
.layout-top-nav .main-footer {
    margin-left: 0;
}
@media (max-width: 767px) {
    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .main-footer {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
}
.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}
/* Fixed layout */
.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed;
}
.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px;
}
@media (max-width: 767px) {
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px;
    }
}
.fixed.layout-boxed .wrapper {
    max-width: 100%;
}
.fixed .wrapper {
    overflow: hidden;
}
.hold-transition .content-wrapper,
.hold-transition .right-side,
.hold-transition .main-footer,
.hold-transition .main-sidebar,
.hold-transition .left-side,
.hold-transition .main-header .navbar,
.hold-transition .main-header .logo,
.hold-transition .menu-open .fa-angle-left {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
/* Content */
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
/* General Links */
a {
    color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}
/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}
.page-header > small {
    color: #666;
    display: block;
    margin-top: 5px;
}